* {
    box-sizing: border-box
}

body {
    margin: 0;
    background-color: lightcoral;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
}

header {
    background-color: lightblue;
    padding: 10px;
}

nav {
    background-color: lightcoral;
    padding: 10px;
    float: left;
    width: 100%;
}

.nav {
    display: none;
}

aside {
    padding: 20px;
    font-size: 20pt;
    background-color: lightcoral;
    width: 100%;
}

.poem {
    padding-left: 70px;
}

main {
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

@media (min-width: 600px) {
    nav {
        width: 400px;
    }
    main {
        display: inline-block;
        width: calc(100% - 400px);
    }
    .nav {
        display: inline;
    }
    li {
        display: block;
    }
    aside {
        width: 800px;
        float: right;
    }
}